<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Sundus Asif About Page</title>
<link href="css/reset.css" rel="stylesheet">
<link href="css/general.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

 <header>
		
		<div class="logo">
			<a href="index.html"><img src="img/salogo.png" alt=""></a>
		</div>
	
    <div class="longlogo">
			<a href="index.html"><img src="img/longlogo.png" alt=""></a>
		</div>
	<!--
		<div class="logo-name clearfix">
			<a href="index.html"><img src="images/logo_name.svg" alt="Sundus Asif"></a> 
            <p>Sundus Asif</p>
			
		</div>
-->
		
	
	</header>
    
    {% include nav.html %}
    
    
		<div class= "billboard1">
				<img src="img/mobileimage.jpg" alt="Billboard">
		</div>
	
		<div class= "billboard2">
			<img src="img/11.jpg" alt="Billboard">
		</div>
   


{{content}}

<footer>
			<ol>
				<li><a href="mailto:sundus_06@hotmail.com?subject=Graphic Design">EMAIL ME</a></li>
				<li>|</li>
				<li><a class="tel" href="tel:+16138082861">CALL</a></li>
			</ol>
	</footer>

	<script src="js/footer-toggle-hybrid.js"></script>

	

</body>
</html>